body {
  text-align: center;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#my-canvas {
  border: 1px solid black;
}


@keyframes ani {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

canvas {
  background: url('/images/bg.png') repeat-x 0 / 100% auto;
  height: 500px;
  /* this value is not important, just not zero */
  animation: ani 10s linear infinite;
  animation-direction: reverse;
}