
body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 0%;
}

.game-intro p {
  font-size: 16px;
  font-family: "Verdana"
}

.logo-img {
  width: 200px;
  padding: 20px 0px
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin-bottom: 20px;
}

#game-board {
    float: right;
    padding: 0px 0px;
}

canvas {
  float: center;
}

#canvas {
  border-radius: 30px;
  border: 8px solid white;
  margin: 10px 50px 10px 10px;
  padding: 0
}