/* start-page
game-page
game-over-page
game-winning-page */

#game-page{
 display: none;
 float:center;
}
#game-over-page{
 display: none;
 text-align: center;
}
#game-winning-page{
 display: none;
}



body {
  padding: 0;
  text-align: center;
}

.game-intro {
 
  padding: 0% 0%;
}

.game-intro p {
  font-size: 16px;
  font-family: "Verdana"
  
}

.logo-img {
  width: 200px;
  padding: 50px 0px
  
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin-bottom: 20px;
}

#game-board {
    float:center;
    padding: 0px 0px;
}

canvas {
  float: center;
}

#canvas {
  border-radius: 30px;
  border: 8px solid white;
  margin: 10px 50px 10px 10px;
  padding: 0
}

#instructions-box,
h1{
    text-align: center;

}

#instructions-box{
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 24px;
    margin-bottom: 10px;;
    text-align: center;
}

p{
    font-size: 22px;
}

.input-container{
  text-align: center;
  display: flow-root;
  justify-content:space-evenly;
}

#gameOver{
    
  margin-right: 50px;
  text-align: center;
}

#out{
  display:flex;
  align-items: center;
  justify-content: center;
}

.final-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}

#restartLose{
  margin-left: 50px;
}


#game-board{
  display: flex;
  justify-content: center;
  align-items: center;
}

#win-top{
  display: block;
}

#winning{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}